@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;0,900;1,700;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('Images/YT/bckg4.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%
}
.logo
{
    margin-left: 60px;
    margin-top: 50px;
}
.logo img{
    martin-top: 40px;
}
.logo h3{
    color: rgb(18,241,241);
    font-size: 25px;
    margin-top: -35px;
    margin-left: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 0px 20px;
    color: rgb(227,238,227)
}
.nav ul li a:hover{
    color: teal;
    font-weight: bolder;
}
.user
{
    cursor: pointer;
    color: teal;
    margin-top: 40px;
    margin-right: 40px;
}
.user a{
    text-decoration: none;
    color: white;
    background-color: teal;
    border-radius: 10px;
    padding: 10px 30px;
}
.user a:hover{
    background-color: rgb(56, 45, 45);
    color: teal;
    font-weight: bolder;
}
.user i{
    font-size: 20px;
    margin-right: 10px;
    padding: 0px 14px;
}
.Action{
    position: absolute;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}
.inside-action1{
    line-height: 1.2;
}
.inside-action1 h1{
    font-size: 40px;
}
.inside-action1 p{
    font-size: 17px;
}
span{
    color: teal;
    font-weight: bold;
    font-size: 25px;
}
.line1{
    height: 2px;
    color: rgb(18,241,241);
    width: 12%;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;   
}
.poster{
    margin-top: 130px;
    margin-right: 150px;
}
.poster img{
    height: 320px;
    float: right;
    border-radius: 10px;
}
.btn1{
    margin-top: 30px;
}
.btn1 a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    background: teal;
    border-radius: 20px;
}
.btn1 a:hover{
    background: rgb(56, 45, 45);
    color: teal;
}
.btn1 i{
    color:rgb(56, 45, 45);
    padding: 0px 10px
}
.latest-movies{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 500px;
    padding: 0px 20px;
}
.latest-movies h1{
    font-size: 20px;
    color: teal;
}
.latest-container{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.latest-inside img{
    height: 122px;
    padding: 4px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.latest-inside img:hover{
    transform: scale(1.2);
}
.heading1{
    color:white;
    line-height: 1.5;
}
.heading1 h4{
    font-size: 15px;
}
.heading1 h6{
    font-size: 12px;
    margin-top: 20px;
}
.btn2{
    margin-top: -22px;
    margin-left: 150px;
}
.btn2 a{
    text-decoration: none;
    font-size: 13px;
    background-color: teal;
    padding: 7px 7px;
    color: white;
    border-radius: 10px;
}
.bollywood-movies{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px 20px;
    color: white;
    margin-top: 930px;
}
.bollywood-movies h1{
    font-size: 20px;
    color: teal;
}
.bollywood-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bollywood-inside h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.bollywood-inside img{
    height: 250px;
    width: 175px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.bollywood-inside img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.imdb{
    background:teal;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: white;
    margin-top: -75px;
    margin-left: 130px;
    font-weight: bolder;
}
.more{
    position: absolute;
    margin-top: 945px;
    margin-left: 1220px;
}
.more a{
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}
.sub-menu-1{
    display: none;    
}
.nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(41, 49, 49);
    margin-top: 15px;
    margin-left: -15px;
    padding: 0px;
    margin: 0px;
}
.nav ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 20px;   
}
.nav ul li .sub-menu-1{
    border-radius: 10px;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
}
.action-movies{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 1350px;
}
.action-movies h1{
    font-size: 20px;
    color: teal;
}
.action-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-inside img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.action-inside h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.action-inside img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.more2{
    position: absolute;
    margin-top: 1360px;
    margin-left: 1220px;
}
.more2 a{
    text-decoration: none;
    color: teal;
    font-weight: bolder;
}
.comedy-movies{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    margin-top: 1800px;
}
.comedy-movies h1{
    font-size: 20px;
    color: teal;
}
.comedy-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.comedy-inside img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.comedy-inside h3{
    color: white;
    font-size: 15px;
    margin-top: 6px;
    font-weight: 500;
}
.comedy-inside img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.more3{
    position: absolute;
    margin-top: -330px;
    margin-left: 1220px;
}
.more3 a{
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}
.romantic-movies{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    margin-top: 2250px;
}
.romantic-movies h1{
    font-size: 20px;
    color: teal;
}
.romantic-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.romantic-inside img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.romantic-inside h3{
    color: white;
    font-size: 15px;
    margin-top: 6px;
    font-weight: 500;
}
.romantic-inside img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.more4{
    position: absolute;
    margin-top: -330px;
    margin-left: 1220px;
}
.more4 a{
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}
.retro{
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    margin-top: 2700px;
}
.classic-movies{
    padding: 10px 170px;
    line-height: 1.9;
    background: black;
}
.classic-movies h1{
    color: teal;
}
.classic-movies p{
    font-size: 25px;
}
.line{
    height: 2px;
    background: white;
    width: 75%;
    margin-left: 170px;
    position: absolute;
}
.classic-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inside-classic img{
    padding: 10px 0px;
    height: 350px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.heading2 p{
    font-size: 15px;
}
.like{
    font-size: 15px;
    float: right;
    margin-top: -56px;
}
.footer{
    position: absolute;
    margin-top: 3300px;
    height: 20vh;
    color: white;
    background: #141414;
    width: 100%;
}
.logopart img{
    height: 10vh;
    margin-top: -50px;
    margin-left: 50px;
}
.logopart h1{
    color: rgb(5, 197, 197);
    font-size: 25px;
    margin-top: 40px;
    margin-left: 120px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    font-size: 15px;
    margin-top: 30px;
    font-weight: 500;
}
.socials i{
    font-size: 27px;
    margin-top: 30px;
    padding: 0px 4px;
    color: teal;
}
.btn4{
    margin-right: 60px;
    margin-top: 30px;
}
.btn4 a{
    text-decoration: none;
    padding: 10px 25px;
    color: black;
    background: teal;
    border-radius: 30px;
}
.inside-classic img:hover{
    transform: scale(1.1);
    cursor: pointer;
}






.action-movies1{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 100px;
}
.action-movies1 h1{
    font-size: 20px;
    color: teal;
}
.action-container1{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-inside1 img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.action-inside1 h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.action-inside1 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.action-movies2{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 605px;
}
.action-movies2 h1{
    font-size: 20px;
    color: teal;
}
.action-container2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-inside2 img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.action-inside2 h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.action-inside2 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}



.bollywood-movies1{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 100px;
}
.bollywood-movies1 h1{
    font-size: 20px;
    color: teal;
}
.bollywood-container1{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bollywood-inside1 img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.bollywood-inside1 h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.bollywood-inside1 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.bollywood-movies2{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 605px;
}
.bollywood-movies2 h1{
    font-size: 20px;
    color: teal;
}
.bollywood-container2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bollywood-inside2 img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.bollywood-inside2 h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.bollywood-inside2 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}




.comedy-movies1{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 100px;
}
.comedy-movies1 h1{
    font-size: 20px;
    color: teal;
}
.comedy-container1{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comedy-inside1 img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.comedy-inside1 h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.comedy-inside1 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.comedy-movies2{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 605px;
}
.comedy-movies2 h1{
    font-size: 20px;
    color: teal;
}
.comedy-container2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comedy-inside2 img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.comedy-inside2 h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.comedy-inside2 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.romantic-movies1{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 100px;
}
.romantic-movies1 h1{
    font-size: 20px;
    color: teal;
}
.romantic-container1{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.romantic-inside1 img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.romantic-inside1 h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.romantic-inside1 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.romantic-movies2{
    position:absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0px 20px;
    color: white;
    margin-top: 605px;
}
.romantic-movies2 h1{
    font-size: 20px;
    color: teal;
}
.romantic-container2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.romantic-inside2 img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.romantic-inside2 h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.romantic-inside2 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.heading1 p{
    margin-top: 15px;
}


.heading1 h7{
    margin-top: 33px;
    font-size: 11px;
    float: right;
    margin-right: 20px;
}


.btn6{
    margin-top: 30px;
    margin-left: 0px;
}
.btn6 a{
    text-decoration: none;
    font-size: 13px;
    background-color: teal;
    padding: 7px 7px;
    color: white;
    border-radius: 10px;
}
span1{
    color: teal;
    font-weight: bold;
}
